.App {
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  /* display: flex; */
  /* flex-flow: column; */
}

.header {
  position: -webkit-sticky; /* Safari */
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: solid 2px hsl(211, 61%, 10%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.sit-ser-name {
  flex-grow: 4;
  align-self: flex-end;
  height: 100%;
  font-size: 30px;
  margin-left: 3%;
}

.taiga-logo {
  padding-left: 2%;
  object-fit: contain;
  padding-right: 3%;
}


.data-container {
  /* background-color: red; */
  display: flex;
  height: calc(100vh - 40px);
  /* height: 100%; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
