.camera-col {
  min-width: 50%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.camera-feed {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.camera-feed-placeholder {
  /* width: 85%; */
  max-height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.metadata-line {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
